.sender-form-field {
    justify-content: center;
    display: flex;
    
}

.alignTextSlightly {
    padding-top: 5px;
    color: lightgray;
}

.imageForArticle4 {
    display: block;       /* Turn it into a block element */
    margin: 0 auto;       /* This automatically perfectly centers it horizontally */

}

@media only screen and (max-width: 532px) {
    .imageForArticle4 {
        width: 19.7rem;
        height: 13.6rem;
        padding-left: 1.4rem;
        
        
    }
}

.profileImage {
    display: block;       /* Turn it into a block element */
    margin: 0 auto;       /* This automatically perfectly centers it horizontally */
}

@media only screen and (max-width: 532px) {
    .profileImage {
        
        margin-left: 71px;
       
    }
}

.forItalicSentences {
    font-size: 20px;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: black;
    
}

@media only screen and (max-width: 532px) {
    .forItalicSentences {
        
        font-size: 1.7rem;
        padding-right: 1.5rem;
        color:black;;
        margin-right: 2rem;
        margin-left: 2rem;
       
    }
}

@media only screen and (min-width: 533px) and (max-width: 768px) {
    .forItalicSentences {
        font-size: 1.7rem;
        margin-right: 5.1rem;
        margin-left: 2.9rem;
        color:black;
        
    }
}


.Headline7 {
    justify-content: center;
    display: flex;
    margin-top: 13px;
    font-size: 55px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding-left: 50px;
    font-weight: lighter;
    color: black;
    /*padding-top: 30px;*/
    /*padding-bottom: 1px;*/
    
}

@media only screen and (max-width: 532px) {
    .Headline7 {
        font-size: 2.3rem;
        justify-content: center;
    display: flex;
    color: black;
    }
    }

    @media only screen and (min-width: 533px) and (max-width: 768px) {
    .Headline7 {
        font-size: 2.5rem;
        margin-left: 2.4rem;
        margin-right: 0.1rem;
        margin-top: 1.9rem;
        margin-bottom: 3.6rem;
        
    }
}

.headlineImageForArticle {
    display: block;       /* Changed from flex to block */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 532px) {
    .headlineImageForArticle {
        width: 21.7rem;
        height: 14.2rem;
        margin-left: 0.5rem;
        
        
    }
}

@media only screen and (min-width: 532px) and (max-width: 768px) {
    .headlineImageForArticle {
        width: 30rem;
        height: 20rem;
        
        margin-left: 3.9rem;
        
        
    }
}








.imageForArticle3 {
    display: block;       /* Changed from flex to block */
    margin-left: auto;    /* Perfectly centers the image */
    margin-right: auto;   /* Perfectly centers the image */
    margin-bottom: 15px;  /* Adds a healthy gap below the image before text/footers */
}


@media only screen and (max-width: 532px) {
    .imageForArticle3 {
        width: 21.7rem;
        height: 12rem;
        margin-left: 0.5rem;
        
        
    }
}

@media only screen and (min-width: 532px) and (max-width: 768px) {
    .imageForArticle3 {
        width: 30rem;
        height: 20rem;
        
        margin-left: 3.9rem;
        
        
    }
}

.smallerImageForArticle {
    display: block;       /* Changed from flex to block */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 532px) {
    .smallerImageForArticle {
        width: 20rem;
        height: 14.5rem;
        
        margin-left: 1.2rem;
        
        
    }
}

.titleForArticle1 {
    margin-left: 15px;
    color:black;
    text-decoration: none;
    margin-right: 50px;
    
    
}

@media only screen and (max-width: 532px) {
    .titleForArticle1 {
        /*padding-left: 0.1rem;*/
        /*margin-right: 0.1rem;*/
        margin-right: 2.7rem;
        margin-left: 3.9rem;
        
        
    }
}

@media only screen and (min-width: 532px) and (max-width: 768px) {
    .titleForArticle1 {
        
        /*padding-left: 2.0rem;*/
        /*padding-left: 0.1rem;*/
        margin-right: 0.1rem;
        margin-left: 16rem;

    }
}

.titleForArticle2 {
    margin-right: 95px;
    margin-left:25px;
   

}

@media only screen and (max-width: 532px) {
    .titleForArticle2 {
        /*padding-left: 3rem;*/
        /*padding-right: 0.1rem;*/
        margin-right: 0.1rem;
        margin-left: 4rem;
        display: none;
        /*margin-right: 0.1rem;*/
        /*margin-left: 10rem;*/
        /*margin-left: 0.1rem*/
    }
}

@media only screen and (min-width: 532px) and (max-width: 768px) {
    .titleForArticle2 {
        margin-left: 18.5rem;
        /*padding-left: 7rem;*/
        margin-right: 19.5rem;
        /*padding-left: 0.1rem;*/
        display: none;
    }
}

.titleForArticle3 {
    margin-right: 80px;
    margin-left: 20px;
   
}

@media only screen and (max-width: 532px) {
    .titleForArticle2 {
        /*padding-left: 3rem;*/
        /*padding-right: 0.1rem;*/
        margin-right: 0.1rem;
        margin-left: 4rem;
        display: none;
        /*margin-right: 0.1rem;*/
        /*margin-left: 10rem;*/
        /*margin-left: 0.1rem*/
    }
}

@media only screen and (min-width: 532px) and (max-width: 768px) {
    .titleForArticle3 {
        /*padding-right: 0.1rem;*/
        margin-right: 22.5rem;
        margin-left: 0.5rem;
        display: none;
        /*padding-right: 13rem;*/
    }
}

@media only screen and (max-width: 532px) {
    .titleForArticle3 {
        /*padding-left: 1.6rem;*/
        
        margin-right: 7.5rem;
        margin-left: 0.1rem;
        display: none;
        
    }
}

.linkButtonCenter {
    margin-left: 445px;
    
}

@media only screen and (max-width: 532px) {
    .linkButtonCenter {
        
        margin-left: 135px;
        
    }
}


.imageForArticle5 {
    display: flex;
    padding-left: 180px;

}

@media only screen and (max-width: 532px) {
    .imageForArticle5 {
        width: 19.7rem;
        height: 10.4rem;
        padding-left: 1.5rem;
        
        
    }
}
